<section>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span *ngIf="!id">Write a new Post</span>
          <span *ngIf="id">Edit Post</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <input type="file" name="file" id="file" (change)="uploadImage($event)">
        <div [hidden]="!uploadPercent">
          <mat-progress-bar mode="determinate" value={{uploadPercent}}></mat-progress-bar>
        </div>
        <div [hidden]="!image">
          <img [src]="image || '//:0'">
        </div>
      </div>
      <mat-form-field>
        <input type="text" matInput placeholder="Post Title" [(ngModel)]="title">
      </mat-form-field>
      <br>
      <editor
       [(ngModel)]="content"
       apiKey="7hu8ewau44pzblmiyzpb0rskrpkp38pbidgsufihcy6vs9y1"
       [init]="{
         height: 500,
         statusbar: false,
         plugins: [
           'advlist autolink lists link image charmap print preview anchor',
           'searchreplace visualblocks code fullscreen',
           'insertdatetime media table paste code help wordcount'
         ],
         toolbar:
           'undo redo | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | help'
       }"
     ></editor>
     <br>
     <mat-form-field>
        <input type="number" matInput placeholder="Highlight level" [(ngModel)]="highlightLevel">
      </mat-form-field>
      <br>
      <button mat-raised-button color="accent" (click)="submitPost()" [disabled]="!title || !content || !image">{{buttonText}}</button>
    </mat-expansion-panel>
  </mat-accordion>  
</section>
